/**************************************/
/********* IMPORT DES POLICES *********/
/**************************************/

@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


/**************************************/
/*********** VARIABLES CSS ************/
/**************************************/

:root {
    /* Couleurs Charte Graphique */
    --primaryColor: #0b0a0b;
    --secondaryColor: #ffffff;
    --tertiaryColor: #DE2621;

    /* Polices Charte Graphique */
    /* Utilisée comme police principale : pour les titres, sous-titres et informations mis en avant : graisse Regular uniquement */
    --primaryFontFamily: "Medula One", system-ui;
    --primaryFontWeight: 400;
    --primaryFontstyle: normal;
    /* Utilisée pour : le corps de texte, paragraphe, notes et légendes */
    --secondaryFontFamily: "Helvetica Neue", sans-serif;
    --secondaryFontWeight-Light: 300;
    --secondaryFontWeight-Regular: 400;
    --secondaryFontWeight-TextBold: 700;
    --secondaryFontWeight-DisplayBold: 900;
}


/**************************************/
/**************  MAIN  ****************/
/**************************************/


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--secondaryFontFamily);
    font-weight: var(--secondaryFontWeight-Regular);
}

